a {
    text-decoration: none;
}

a img:hover {
    box-shadow: 0 0 8px 2px rgb(0 0 0 / 30%);
}

body {
    margin: -5px;
}

.menu div a:hover,
.naBar a:hover {
    color: rgb(179, 179, 179);
    text-decoration: none;
}

.free {
    background-color: rgb(37, 37, 122);
    color: rgb(245, 245, 245);
    font-size: 13px;
    width: 100%;
    height: 40px;
    text-align: center;
    padding-top: 10px;
}

.menu {
    margin-top: 15px;
    margin-left: -15%;
    display: flex;
    width: 96%;
    margin-left: 5px;
}

.menu img {
    cursor: pointer;
    margin-left: 10px;
}

.menu div {
    margin: auto;
}

.menu div a {
    color: black;
}

.naBar ul li,
a {
    text-decoration: none;
    list-style: none;
    margin: auto;
}

.naBar#center ul {
    margin-left: 13%;
    display: flex;
    width: 70%;
}

.naBar ul li a {
    color: black;
}

.dropbtn {
    color: rgb(0, 0, 0);
    padding: 16px;
    font-size: 14px;
    border: none;
    cursor: pointer;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 200px;
    margin-top: -15px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    padding: 3%;
}

.dropdown-content a {
    color: black;
    padding: 5px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: rgba(221, 221, 221, 0);
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    color: rgb(179, 179, 179);
}

#fix-botton {
    margin-bottom: 5%;
}

#tittle_pr {
    text-align: center;
    margin-top: 10%;
    margin-bottom: 1%;
}